* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
}
header, section {
    max-width: 800px;
    margin: auto;
    width: 100%;
    padding: 10px;
}
section {
    background-color: #f8f8ff;
    border: #cdcdd5 1px solid;
    font-size: 16px;
}
.content {
    max-width: 780px;
    padding: 10px;
    background-color: #cdcdd5;
    border-bottom: #2b542c 3px solid;
    margin: auto;
    width: 100%;
}
.inputfield {
    line-height: 1.4em;
    margin: 10px 5px 15px 5px;
}
.inline {
    display: flex;
    justify-content: space-between;
}
fieldset {
    border: ghostwhite 1px solid;
}
.fieldsendereco {
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.hidden {
    display: none;
}
span.required {
    color: #7d0606;
}
#idade {
    width: 40px;
    text-align: center;
    font-weight: bold;
}
#idade::placeholder {
    color: #8a8a8a;
}
textarea#textareamensagem {
    width: 100%;
}
input {
    line-height: 1.8em;
}
input:focus, textarea:focus {
    outline: none;
    border: #9d261d 1px solid;
    padding: 0.1875em;
}
input[type=text], input[type=email], input[type=url] {
    width: 100%;
}
select {
    height: 1.8em;
}
label > span {
    padding: 0;
}
label > em {
    font-style: italic;
    font-size: 1.1em;
    line-height: 2em;
}
.float-right {
    text-align: right;
}
button {
    background-color: #2b542c;
    color: white;
    font-size: 1.2em;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.inputfield > p {
    padding-bottom: 0;
    margin: 0;
}
.inputfield.float-right p > span {
    font-size: .9em;
}
#dividade {
    margin-right: 5px;
}
#cep {
    width: 90px;
}